body {
    font-family: Calibri, Arial, sans-serif;
    background: lightgrey;
}

.navbar {
    padding: 0;
}

.navbar-light {
    background: white;
}

.navbar-brand {
    background: palevioletred;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
.navbar {
    background: palevioletred;
    }
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-box {
    padding: 15px;
    background: white;
}

.main-box img{
    margin: auto;
    display: block;
}

.viz-box {
    padding: 15px;
    background: white;
    text-align: center;
}


@media (max-width: 576px) {
    .container {
        margin: 0;
        padding: 0;
        }
    }

.tiny-plot {
    height: 100px;
    width: 150px;
}

@media (max-width: 992px) {
    .plot {
        height: 248px;
        width: 372px;
        }
    }

.comparison-box {
    padding: 15px;
    background: white;
}

@media (max-width: 992px) {
    .comp-plot {
        height: 228px;
        width: 342px;
        }
    }

.data-box {
    padding: 15px;
    background: white;
}