body {
    font-family: Calibri, Arial, sans-serif;
    background: lightgrey;
}

.navbar {
    padding: 0;
}

.navbar-light {
    background: white;
}

.navbar-brand {
    background: palevioletred;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 768px) {
.navbar {
    background: palevioletred;
    }
}

.container {
    margin-top: 30px;
}

.main-box {
    padding: 15px;
    background: white;
}

.viz-box {
    padding: 15px;
    background: white;
}

@media (max-width: 576px) {
    .container {
        margin: 0;
        padding: 0
        }
    }

.tiny-plot {
    height: 100px;
    width: 150px;
}